* {
  margin: 0px;
  padding: 0px;
}

.ls-margin {
  margin: 5px 10px;
}

.grid {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 10px;
}

.grid div {
  width: 20px;
  height: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  display: block;
}

.none {
  display: none;
}

.full-width-height {
  width: 100%!important;
  height: 100%!important;
}

#lose-game {
  position: absolute;
}

#lose-game .modal {
  position: absolute;
  background-color: black;
  opacity: 0.2;
  top: 0;
  width: 100%;
  height: 100%;
}

#lose-game .title {
  
  color: red;  
}

.snake {
  background-color: blue;
}

.apple {
  background-color: red;
}

